{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <section class="row">
    <div class="columns">
      <p>Welcome to AllergenAlert. Sign up here to get targeted SMS and email notifications whenever the Food Standards Agency releases an Allergen Alert.</p>
    </div>
  </section>

  <section class="row">
    <div class="large-6 columns">
      <h2>Log In</h2>
      <form action="{{ url_for('views.login') }}" method="post">
        <div class="row">
          <div class="columns">
            <label for="login-email">Email Address</label>
            <input type="email" name="email" id="login-email" />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="login-password">Password</label>
            <input type="password" name="password" id="login-password" />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="checkbox" value="yes" name="remember-me" id="login-remember" />
            <label for="login-remember">Remember Me</label>
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="submit" value="Log In" class="button small" />
          </div>
        </div>
      </form>
    </div>
    <div class="large-6 columns">
      <h2>Register</h2>
      <form action="{{ url_for('views.register') }}" method="post">
        <div class="row">
          <div class="columns">
            <label for="register-firstname">First Name(s)</label>
            <input type="text" name="firstname" id="register-firstname"{% if form['firstname'] %} value="{{ form['firstname'] }}"{% endif %} />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="register-surname">Surname</label>
            <input type="text" name="surname" id="register-surname"{% if form['surname'] %} value="{{ form['surname'] }}"{% endif %} />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="register-email">Email Address</label>
            <input type="email" name="email" id="register-email"{% if form['email'] %} value="{{ form['email'] }}"{% endif %} />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="register-password">Password</label>
            <input type="password" name="password" id="register-password" />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="register-confirm">Confirm Password</label>
            <input type="password" name="confirm" id="register-confirm" />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <label for="register-phone">Phone Number</label>
            <input type="text" name="phone" id="register-phone"{% if form['phone'] %} value="{{ form['phone'] }}"{% endif %} />
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="submit" value="Register" class="button small" />
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
